@use "variables/sizes";

.category-selector {
  display: flex;
  column-gap: 6px;
  align-items: center;

  &__prefix {
    font-size: 14px;
    color: rgba(111, 124, 139, 0.5);
    @media (max-width: sizes.$medium) {
      display: none;
    }

  }

  &__icon {
    color: rgba(111, 124, 139, 0.5);
  }
}
