.user-password {
  padding-top: 30px;

  &__title {
    padding-bottom: 20px;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
  }
}
