<form
  class="user-password"
  *ngIf="userPasswordForm"
  [formGroup]="userPasswordForm"
  (ngSubmit)="changeUserPassword()"
>
  <h3 class="user-password__title">Change your password</h3>
  <promo-input
    formControlName="currentPassword"
    label="Old Password"
    placeholder="Enter your current password"
    inputType="password"
  ></promo-input>
  <promo-input
    formControlName="newPassword"
    label="New Password"
    placeholder="Enter your new password"
    inputType="password"
  ></promo-input>
  <promo-input
    formControlName="confirmNewPassword"
    label="Confirm New Password"
    placeholder="Enter your new password again"
    inputType="password"
  ></promo-input>

  <div class="user-password__actions">
    <promo-button tall variant="stroked">Cancel</promo-button>
    <promo-button
      tall
      type="submit"
      variant="flat"
      [disabled]="userPasswordForm.invalid"
    >Update</promo-button>
  </div>
</form>
