@use 'variables';

:host {
  appearance: none;
  display: inline-block;
  line-height: normal;

  button {
    width: 100%;
    font-weight: 400;

    &:disabled {
      pointer-events: none;
    }

    &.mat-icon-button {
      height: auto;
      line-height: normal;
    }
    &.mat-stroked-button {
      border-color: currentColor;
    }
  }

  &[tall] {
    button {
      min-height: 55px;
    }
  }

  &[dense] {
    button {
      padding: 0;
    }
  }

  &[dodger-blue-color] {
    button {
      color: variables.$dodgerBlue;
    }
  }

  &[disabled='true'] {
    pointer-events: none;
  }
}
