<section class="password-reset">
  <div>
    <h1>Password recovery</h1>
    <p>Enter the email you're using for your account.</p>
  </div>

  <form
    [formGroup]="userEmailForm" (submit)="requestPasswordReset()"
  >
    <promo-input
      formControlName="email"
      label="Email address"
      placeholder="Enter your email address"
    ></promo-input>

    <promo-button
      class="w100"
      tall
      variant="flat"
      type="submit"
      [disabled]="userEmailForm.invalid"
    >Reset</promo-button>

    <promo-button
      class="w100"
      tall
      [routerLink]="['../']"
    >Back to login</promo-button>
  </form>


</section>

