<promo-back-link
  text="Go back to dashboard"
  [link]="'/' + ROUTES_DATA.PRIVATE.children.DASHBOARD.url"
></promo-back-link>


<ng-container *ngIf="article$ | async as article">
  <form *ngIf="articleForm" [formGroup]="articleForm" class="article" (ngSubmit)="publishArticle()">
    <h2>{{ newArticle ? 'Add new article' : 'Edit article' }}</h2>
    <promo-input
      formControlName="title"
      label="Title"
      placeholder="Enter your title"
    ></promo-input>

    <label class="article__category-label">Category</label>
    <mat-form-field
      floatLabel="never"
      appearance="outline"
    >
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categoryOptions" [value]="category.id">
          {{ category.name | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <promo-textarea
      formControlName="body"
      label="Text"
      placeholder="Enter your text"
    ></promo-textarea>

    <h4>Manage cover photo</h4>
    <img
      *ngIf="photoPreview"
      [src]="photoPreview"
      alt="cover photo"
      class="article__photo-preview"
    >

    <promo-file-upload
      [openCropper]="true"
      (fileEvent)="onCoverPhotoUpload($event, newArticle)"
    ></promo-file-upload>

    <promo-button>Cancel</promo-button>
    <promo-button variant="flat" type="submit">{{ newArticle ? 'Publish' : 'Update'}}</promo-button>

  </form>
</ng-container>
