<section class="sign-in">
  <img class="sign-in__image" src="/assets/images/waving-hand.png" alt="waving hand">

  <div>
    <h1>Welcome back</h1>
    <p>Sign in to manage your account.</p>
  </div>

  <form [formGroup]="loginForm" (submit)="signInWithCredentials()">
    <promo-input
      data-test="login-email"
      formControlName="email"
      label="Email address"
      placeholder="Enter your email address"
    ></promo-input>
    <promo-input
      data-test="login-password"
      formControlName="password"
      label="Password"
      placeholder="Enter your password"
      inputType="password"
    ></promo-input>

    <a data-test="login-reset-pass-link" [routerLink]="['../', ROUTES_DATA.AUTH.children.FORGOT_PASSWORD.url]">Forgot your password?</a>

    <promo-button
      data-test="login-submit"
      variant="flat"
      class="sign-in__submit"
      tall
      type="submit"
      [disabled]="loginForm.invalid"
    >Sign in
    </promo-button>
  </form>

  <promo-divider>
    Or do it via other accounts
  </promo-divider>

  <div class="sign-in__options">
    <div class=""></div>
    <promo-button
      variant="link"
      class="sign-in__options__item"
      (click)="signInWithFacebook()"
    >
      <promo-icon icon="Facebook"></promo-icon>
    </promo-button>

    <promo-button
      variant="link"
      class="sign-in__options__item"
      (click)="signInWithGoogle()"
    >
      <promo-icon icon="Google"></promo-icon>
    </promo-button>
  </div>

  <p class="sign-in__registration">
    Don’t have an account? <a data-test="login-reg-link" [routerLink]="['../', ROUTES_DATA.AUTH.children.SIGN_UP.url]">Sign Up</a>
  </p>

</section>

