.dashboard {
  &__wrapper {
    display: flex;
    column-gap: 40px;
  }

  &__main {
    width: 75%;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin-bottom: 0;
      }
    }

    .articles {
      padding: 20px 0;
      display: grid;
      align-items: stretch;
      column-gap: 20px;
      row-gap: 20px;
      grid-template-columns: repeat(2, 1fr)
    }

  }

  &__aside {
    width: 25%;
  }
}
