@use "variables";

.article-preview {
  height: 100%;

  &__image {

  }

  &__body {

    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      * {
        font-size: 13px;
        color: variables.$raven;
      }
    }

    &__title {
      @include variables.truncate-text(2);
      margin-bottom: 10px;
    }

    &__text {
      @include variables.truncate-text(4);
      margin-bottom: 10px;
    }
  }
}
