@use 'variables';

.user-logo {
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(76, 111, 255, 0.4);

  &__placeholder {
    width: 100%;
    height: 100%;
    color: rgba(100, 100, 111, 0.2);
  }
}
