@use 'variables';

.text-divider {
  --text-divider-gap: 1rem;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: variables.$raven;
}

.text-divider::before, .text-divider::after {
  content: '';
  height: 1px;
  background-color: variables.$silverChalice;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}
