@use "variables";

.weather {
  background: variables.$white;
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  &__menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__header {
    color: variables.$raven;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__date {
    h4 {
      color: variables.$blackPearl;
      margin-bottom: 4px;
    }
    p {
      color: variables.$raven;
      font-size: 13px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__temp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-value {
        font-size: 54px;
        line-height: 44px;
        padding-bottom: 10px;
        color: variables.$blackPearl;
        position: relative;

        &:after {
          content: 'C';
          position: absolute;
          top: -16px;
          right: -16px;
          font-size: 16px;
        }
      }
    }

    &__icon {
      width: 100px;
      margin-right: 20px;
      object-fit: cover;
    }
  }

}
