.layout-auth {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  &__image {
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;

    &.sign-in {
      background-image: url('/assets/images/sign-in.png');
    }
    &.sign-up {
      background-image: url('/assets/images/sign-up.png');
    }
    &.forgot-passwords {
      background-image: url('/assets/images/forgot-password.png');
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }

}
