.profile {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
