@use '@angular/material' as mat;
@import 'reset';

$typography: mat.define-typography-config(
    $font-family: 'Roboto, Helvetica Neue, sans-serif',
    $headline: mat.define-typography-level(30px, 35px, 700),
    $title: mat.define-typography-level(21px, 24px, 700),
    $subheading-2	: mat.define-typography-level(21px, 24px, 500),
    $subheading-1: mat.define-typography-level(18px, 21px, 500),
    $body-1: mat.define-typography-level(16px, 18px, 400),
    $button: mat.define-typography-level(16px, 1.2, 400),
    $input: mat.define-typography-level(16px, 1.25, 400),
);

@include mat.core($typography);

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    )
));

@include promo-theme-reset($my-theme);
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
