$alabaster: #f8f8f8;
$porcelain: #F5F6F7;
$mystic: #EAEDF3;
$white: #fff;
$silverChalice: #9D9D9D;
$silver-chalice: #9e9e9e;
$raven: #6F7C8B;
$dodgerBlue: #4C6FFF;
$cerulean: #0ea5e9;
$cornflower-blue: #6366f1;
$mountain-meadow: #22c55e;
$flamingo: #ef4444;
$brick-red: #cf2e54;
$black: #000;
