@use "variables/color";
@use "variables/sizes";

.private {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 74px;
    border: 1px solid color.$mystic;

    &__logo {
      width: 230px;
      height: 100%;
      border-right: 1px solid color.$mystic;
      background: no-repeat center url("/assets/images/logo.png");
      @media (max-width: sizes.$small) {
        border-right: none;
        width: 70px;
        background: no-repeat center url("/assets/images/logo_small.png");
      }
    }

    &__body {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      @media (max-width: sizes.$small) {
        justify-content: flex-end;
        padding: 0 10px;
      }

      .article-search {
        max-width: 350px;
        padding-bottom: 10px;

        &__prefix {
          margin: 0 10px;
          color: color.$baliHai;
        }
        @media (max-width: sizes.$small) {
          display: none;
        }
      }

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        cursor: pointer;
        @media (max-width: sizes.$medium) {
          justify-content: flex-end;
          width: auto;
          column-gap: 10px;
        }

        &:hover {
          .user-info__name {
            color: color.$dodgerBlue;
          }
        }

        &__name {
          margin-bottom: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 150px;
          @media (max-width: sizes.$medium) {
            display: none;
          }
        }
      }
    }
  }

  &__container {
    background-color: color.$porcelain;
    flex: 1 1 auto;

    &__nav {
      padding-top: 20px;
      width: 230px;
      @media (max-width: sizes.$medium) {
        width: 70px;
      }

      &__title {
        color: rgba(111, 124, 139, 0.5);
        padding-left: 30px;
        display: inline-block;
        margin-bottom: 20px;
        @media (max-width: sizes.$medium) {
          display: none;
        }
      }

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 20px;
        color: color.$black;
        padding: 12px 20px;
        @media (max-width: sizes.$medium) {
          padding: 6px 10px;
          column-gap: 10px;
          justify-content: center;
        }

        &-text {
          @media (max-width: sizes.$medium) {
            display: none;
          }
        }

        &.active {
          color: color.$blueRibbon;
          border-left: 2px solid color.$blueRibbon;
        }
      }

      &__divider {
        height: 1px;
        background-color: color.$mystic;
        box-sizing: border-box;
        margin: 20px 10%;
      }

      &__logout {
        width: 80%;
        background-color: color.$porcelain;
        margin: 0 20px;
        @media (max-width: sizes.$medium) {
          width: 100%;
          margin: 0;
        }
      }
    }

    &__body {
      padding: 30px;
    }
  }
}
